.container, .container-full {
	width: 100%;
	margin: auto;
	/*font-size: 0;*/
}

.container { max-width: 1170px; }

/*.item {
	display: block;
	width: 100%;
	padding: 16px;
	padding: 1rem;
	font-size: 16px;
	font-size: 1rem;
}*/

/*LANGUAJES-----------------------------------------------------------------*/
#languajes{
    height: 35px;
    text-align: right;
    line-height: 2.5rem;
    padding-right: 0rem;
    margin: auto;
}

#languajes a {
    font-size: 1rem;
    margin-left: 1.6rem;
    color: #3CA8F0;
}

#languajes a:hover {
    color: #004A91;
}


/*HEADER IMAGE-----------------------------------------------------------------*/
#header {
    background-color: #004a91;
    max-height: 380px;
	height: 100%;
    border-top: 2px solid rgb(15, 15, 15);
    border-bottom: 2px solid rgb(15, 15, 15);
}

#header-texture {
    width: 1550px;
    max-height: 380px;

    background-image: url("../imagenes-ari/header-texture.png");
    background-size: 100% 100%;
}

#header-content {
    margin: 0 auto;
    /*border: thin solid white;*/
}

#header-content > figure {
	width: 32.3%;
	/*border: thin solid white;*/
}

#header-logo-people {
    width: 67.7%;
	/*border: thin solid black;*/
}

#header-logo {
    width: 75%;
    padding-top: 2rem;
}

#header-people {
    opacity: 0.7;
}

#header-people > img {
    display: block;
}

/*MENU IMAGE-----------------------------------------------------------------*/
#menu {
    margin: 0 auto;
    background-color: rgb(175, 56, 56);
}

#menu > li {
    position: relative;
    text-align: center;
    border-right: 1px solid rgb(255, 255, 255);
}

#menu > li:last-child {
    border-right: none
}

#menu > li > a {
    display: block;
    color: rgb(255, 255, 255);
    line-height: 3rem;
}

#menu > li:hover {
    background-color: rgba(93, 22, 22, 0.62);
    transition: 1s;
}

#menu > li > a + div {
    background-color: rgb(117, 28, 28);
    border-radius: 0 0 2px 2px;
    display: none;
    position: absolute;
    width: 120%;
}

#menu > li:hover > a + div {
    display: block;
}

#menu > li > a + div > ul > li:hover {
    background-color: #004a91;
    transition: 1s;
}

#menu >li > a + div > ul > li > a {
    display: block;
    color: rgb(255, 255, 255);
    line-height: 2.2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-top: thin solid rgb(255, 255, 255);
}

/*DESCRIPTION-----------------------------------------------------------------*/
#description {
    padding: 2rem 3rem;
    margin: 2.6rem auto;
    border-bottom: thin dashed rgb(175, 56, 56);
}

#description p {
    text-align: justify;
}

#description a {
    color: rgb(255, 255, 255);
    margin-top: 0.6rem;
    width: 6rem;
    text-align: center;
    display: block;
    padding: 0.5rem;
    background-color: #004a91;
    border-radius: 0.5rem;
}

#description a:hover {
    background-color: #3CA8F0;
    transition: 1s;
}

/*SLIDE IMAGES--------------------------------------------------------------------*/
#slide > div {
	width: calc((100% - 7%) / 2);
	margin-bottom: 3%;
	/*border: thin solid black;*/
}

#slide > div > figure {
	max-height: 302px;
}

#slide > div > figure >img {
	display: block;
	height: 100%;
	border: 1px solid rgb(1, 1, 1);
    box-shadow: 3px 3px 3px #888888,
                -3px 0px 3px #888888;
}

#slide > div > h1 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #3CA8F0;
    margin-bottom: 0.5rem;
}

/*FOOTER---------------------------------------------------------------------------*/
footer {
    height: 80px;
    background-color: #004a91;
    border-top: 2px solid rgb(19, 30, 54);
}

#footer-menu {
    margin-bottom: 1%;
}

#footer-menu a {
    display: block;
    color: #a7d7f6;
    line-height: 2rem;
    padding: 0 1rem;
    border-right: 2px solid rgb(255, 255, 255);
}

#footer-menu a:last-child {
    border-right: 0;
}

#footer-menu a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

footer p {
    font-size: 0.8rem;
    color: #bee5ff;
}


/*MEDIA QUERIES--------------------------------------------------------------------*/
@media screen and (max-width: 64em) {
	nav, #languajes, #slide {
		width: 95%;
		margin: auto;
	}

	#languajes a {
	    font-size: 0.8rem;
	    margin-left: 1.6rem;
	    color: #3CA8F0;
	}

	#menu >li > a + div > ul > li > a {
	    display: block;
	    color: rgb(255, 255, 255);
	    line-height: 2.2rem;
	    text-transform: uppercase;
	    font-size: 0.65rem;
	    border-top: thin solid rgb(255, 255, 255);
	}

	#menu > li > a + div {
	    background-color: rgb(117, 28, 28);
	    border-radius: 0 0 2px 2px;
	    display: none;
	    position: absolute;
	    width: 143%;
	}

	#menu > li > a {
		font-size: 0.8rem;
	    display: block;
	    color: rgb(255, 255, 255);
	    line-height: 2.5rem;
	}

	/*body {
		background-color: rgb(212, 135, 97);
	}*/
}

/*@media screen and (max-width: 48em) {
	body {
		background-color: rgb(137, 212, 97);
}*/
